/* font */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
/* font end   */



.default-margin{
    margin: 0 160px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-btn{
    color: #006A50;
    border-color: #006A50;
    height: 52px;
    width: 116px;
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}
.nav-text{
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
}

.banner{
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    height: 560px;
    align-items: center;
    margin-bottom: 80px;
}
.banner-text{
    margin-left: 60px;
}
.banner-lite-text{
    color: rgba(14, 14, 14, 0.5);
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    margin-bottom: 16px;
}
.banner-bold-text{
    width: 622px;
    height: 201px;
    color: rgb(14, 14, 14);
    font-family: 'Fira Sans', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    margin-bottom: 16px;
}   
.banner-btn{
    color: rgb(255, 255, 255);
    background-color: #006A50;
    border-radius: 5px;
    padding: 17px 34px 17px 34px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    border:none;
    margin-top: 20px;
}
.banner-img{
    margin-right: 60px;
}
.pillar{
    margin-bottom: 80px;
}
.pillar-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
.pillar-cards{
    display: flex;
    justify-content: space-between;
}
.pillar-item{
    height: 244px;
    width: 300px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pillar-item-title{
  color: rgba(14, 14, 14, 0.8);
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.pillar-item-text{
  color: rgba(14, 14, 14, 0.7);
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.future-vision-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 32px;
}

.future-vision-card{
    height: 325px;
    width: 410px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 33px 32px 0px 45px;
}
.card-1{
  background-color: rgba(84, 144, 245, 0.2);
}
.card-2{
  background-color: rgb(198, 228, 214);
}
.card-3{
  background-color: rgb(247, 235, 207);
}
.btn-card{
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  width: 122px;
  height: 41px;
  border-radius: 8px;
  margin: 24px 0px;
}
.btn-card-1{
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 144, 245);
}
.btn-card-2{
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(9, 161, 92);
}
.btn-card-3{
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 194, 57);
}
.quotation{
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  margin-bottom: 80px;
}
.quotation-text{
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 12px;
}
.speaker{
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 4px;
}
.rank{
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.quotation-text-container{
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  padding: 48px 24px;
  background-position: 1.6% 16%;
}





.opinion-table{
  width: 100%;
  border-collapse: collapse;
  font-family: 'Fira Sans', sans-serif;
}
th, td {
  padding: 15px 24px;
  text-align: left;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.opinion-btn {
  padding: 10px 20px;
  background-color: rgb(198, 228, 214);
  border: 1px solid rgb(14, 14, 14);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.opinion-btn span {
  margin-left: 5px;
}











.newses{
  font-family: 'Fira Sans', sans-serif;
}
.news {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 48px;
  justify-content: space-between;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 24px;
}
.satelite-img{
  border-radius: 24px;
  width: 408px;
  height: 306px;
}
.news-text-full{
  margin-left: 60px;
}
.news-title{
  color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.date-time{
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 12px;
}
.date{
  margin-right: 12px;
}
.read-more{
  border-radius: 8px;
  width: 139px;
  height: 48px;
  background-color: rgb(0, 106, 80);
  border: none;
  color:rgb(255, 255, 255);
  font-size: 18px;
  margin-top:32px;
}
.channel-image{
  margin-top: 8px;
}

#second-news-p{
  width: 80%;
}
#donation{
  font-family: 'Fira Sans', sans-serif;
}
#donate-today-title{
  margin-top: 80px;
  width: 100%;
  align-items: center;
  font-size: 40px;
  font-weight: 700px;
  text-align: center;
}
#text-align-center{
  text-align: center;
}
.donation-p{
  padding: 0px 88px;
}
.donate-btn{
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  gap: 12px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  user-select: none;
  margin-bottom: 32px;
}
.donate-btn:hover{
  background: rgb(30, 136, 110)
  ;
  color: rgb(255, 255, 255);
}
.donate-btn:focus{
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
}
.donate-btn-container{
  display: flex;
  justify-content: space-around;
  margin: 0px 180px
}
.other-amount-input{
  margin: 0px 124px;
  font-size: 20px;
  font-weight: 400;
  border: 0px;
  color: rgba(14, 14, 14, 1);
  text-align: center;
  width: 1100px;
  margin-left: 220px;
  padding: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.other-amount-input:focus{
  outline: none;
  border-bottom-width: 4px;
  border-color: rgba(0, 0, 0, 0.25);
}
#done-now-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.subscription-container{
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  background-color: rgb(198, 228, 214);
  border-radius: 24px;
  margin-bottom: 25px;
}
.subscribe-heading{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 80px 0px 16px 0px;
}
.subscription-p{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.subscription-input{
  width: 70%;
  height: 54px;
  border-radius: 8px 0px 0px 8px;
  background: rgb(255, 255, 255);
  padding-left: 40px;
  margin-right: 0px;
}
.subscription-btn{
  margin-left: -5px;
  width: 10%;
  height: 59px;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  border: none;
}
.promise{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 80px;
}
.tail{
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}
.footer-head{
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  padding-top: 80px;
}
.socials{
  display: flex;
  justify-content: center;
  padding: 30px;
} 
.social{
  margin: 0px 20px;
}
.short{
  width: 70%;
}

footer{
  margin-top: 80px;
  background-color: #f8faff;
}