/* font */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
/* font end   */



.default-margin{
    margin: 0 160px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-btn{
    color: #006A50;
    border-color: #006A50;
    height: 52px;
    width: 116px;
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}
.nav-text{
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
}

.banner{
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    height: 560px;
    align-items: center;
    margin-bottom: 80px;
}
.banner-text{
    margin-left: 60px;
}
.banner-lite-text{
    color: rgba(14, 14, 14, 0.5);
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    margin-bottom: 16px;
}
.banner-bold-text{
    width: 622px;
    height: 201px;
    color: rgb(14, 14, 14);
    font-family: 'Fira Sans', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    margin-bottom: 16px;
}   
.banner-btn{
    color: rgb(255, 255, 255);
    background-color: #006A50;
    border-radius: 5px;
    padding: 17px 34px 17px 34px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    border:none;
    margin-top: 20px;
}
.banner-img{
    margin-right: 60px;
}
.pillar-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
.pillar-cards{
    display: flex;
    justify-content: space-between;
}
.pillar-item{
    height: 244px;
    width: 300px;
}